@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="item">
    <img src="~/images/20229849_1496200117068450_6343799404034510580_o.png" alt="Visual Studio" class="img-responsive" />
    </div>
    
    <p>
        Qendra e Teknologjisë Tiranë (TCT) është një qendër e specializuar për trajnime profesionale në fushën e teknologjisë së informacionit (IT). TCT klasifikohet si nje institucion i mësimdhënies se njohurive praktike. Kryejme kurse programimi, rrjete kompjuterike, MS SQL - databaze administrim server (windows & linux), web design & google AdSense, Excel niveli intermediate.
        TCT nga ana e vështirësisë së arsimimit paralelizohet me shkollat profesionale post-sekondare dhe shkollat e larta.

        Të mësuarit në Qendër (TCT) bazohet në aplikimin e metodës “Hands-on” (Praktikë). Studentët aftësohen në programim si edhe administrim te serverave dhe rrjetit. Të gjithë ekspertët e TCT të cilët u përcjellin ekspertizën e tyre studentëve të Qendrës, punojnë ose kanë punuar në fushat e tyre respektive në kompani private dhe publike. Ekspertët kryesorë, gjithashtu themeluesit e TCT, të cilët kanë studiuar dhe punuar në SH.B.A. dhe Mbreterine e Bashkuar në programime, rrjete kompjuterike dhe administrim serverash, sjellin një frymë perëndimore në mësimdhënie dhe marrëdhënie profesionale mësues-student brenda ambjenteve te klasës.

        Kurset e qendrës janë të licencuar nga Ministria Mirëqënies Sociale dhe Punës e cila mbulon arsimin profesional. Kurset e qendrës janë si më poshtë:

        Kurse, drejtimi Hardware dhe Rrjete: Diagnostikim PC(Teknik IT) bazuar në objektivat e certifikatës CompTIA A+, Bazat e Rrjeteve (Cisco Switches), Rrjetet Intermediate (Cisco Routers) ( të dy këto kurse zhvillojnë tema të certifikatës CCNA), Rrjete të Avancuar (Cisco ASA Firewall)

        Kurse, drejtimi Administrim Server: Windows Server Administration (mbulon Active Directory, DNS & DHCP servers), Linux Server Administration

        Kurse programimi: Bazat e programimit- C++, Java, MS SQL 2012 databazë, ASP.NET.

        Programe Kompjuterike të tjera: Paketa MS Office, MS Excel intermediate dhe i avancuar (drejtim bankar), SPSS
        Specialties
        Trajnime, Programim, Rrjete kompjuterike, Kurse, Server Administration, IT Services
    </p>
