@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Rr. Durresit #53 (perballe Gjimnazit Q. Stafa / siper bankes BKT)
    <br />
    Tirana, Albania <br />
    <abbr title="Phone">P:</abbr>
    067.686.1620
</address>

<address>

    <strong>TCT Administrator:</strong> <a href="mailto:rezart.alija@gmail.com">Rezart Alija</a>
    <strong>Instructor:</strong> <a href="eniantafa@gmail.com">Enian Tafa</a><br />
    <strong>Student:</strong> <a href="hatillari@gmail.com">Henri Atillari</a><br />
    <strong>Student:</strong> <a href="adelaalushi18@gmail.com">Adela Alushi</a><br />
    <strong>Student:</strong> <a href="bogdani.besart@gmail.com">Besart Bogdani</a><br />
    <strong>Student:</strong> <a href="elaislami@gmail.com">Ela Islami</a><br />


</address>
