@model Sector



<table class="table table-responsive">
    
    <tr>
        <td>@Model.Name.ToString()</td>
        <td>@Model.Description</td>
        <td>
            @Model.DateTimeModified
        </td>

        
    </tr>
</table>




